mat-card {
  max-width: 80%;
  margin: 0 auto;

  background-color: #fff;
  font-weight: bold;

  mat-card-title {
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  mat-form-field {
    display: block;
  }

}
