.rating-container {
  width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
}
.genre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
mat-slider {
  width: 250px;
}
button {
  margin-top: 20px;
}
