<mat-card class="container">
  <h2>Wähle dein Instrument</h2>

  <!-- Checkbox-Liste -->
  <mat-selection-list>
    <mat-list-option *ngFor="let instrument of $instruments | async" (selectedChange)="toggleInstrument(instrument, $event)" [selected]="instrumentSeleted(instrument)">
      {{ instrument.name }}
    </mat-list-option>
  </mat-selection-list>

  <!-- Eingabefeld für andere Instrumente -->
  <mat-form-field appearance="outline">
    <mat-label>Anderes Instrument</mat-label>
    <input matInput [(ngModel)]="otherInstrument" (keyup.enter)="addOtherInstrument()">
    <button mat-button matSuffix (click)="addOtherInstrument()">Hinzufügen</button>
  </mat-form-field>

  <!-- Anzeige der ausgewählten Instrumente mit Chips -->
  <mat-chip-list>
    <mat-chip *ngFor="let instrument of selectedInstruments" removable="true" (removed)="removeInstrument(instrument)">
      {{ instrument.name }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</mat-card>
